<h2>Available drones</h2>

<table class="table table-dark">
    <tr class="table-secondary">
        <th>Model</th>
        <th>Propellers</th>
        <th>Max Speed</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {{#each drones}}
    <tr>
        <td>
            {{name}}
        </td>
        <td>
            {{propellers}}
        </td>
        <td>
            {{maxSpeed}}
        </td>
        <td>
            <a class="btn btn-success" href="/drones/{{id}}/edit">Update</a>
        </td>
        <td>
            <form action="/drones/{{id}}/delete" method="POST">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>